<div class="list row">
  <div class="col-md-8">
      <div class="input-group mb-4">
          <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="searchName" />
          <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="searchByTitle()">
        Search
      </button>
          </div>
      </div>
  </div>
  <div class="col-md-12">
      <h4>Book List</h4>

      <table class="table">
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Status</th>
                  <th scope="col">Species</th>
                  <th scope="col">Gender</th>
                  <th scope="col">Origin</th>
                  <th scope="col">Location</th>
                  <th scope="col">Image</th>
                  <th scope="col" style="min-width: 150px;">Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let char of character;">
                  <th scope="row">{{char.id}}</th>
                  <td><b>{{char.name}}</b></td>
                  <td>{{char.status}}</td>
                  <td>{{char.species}}</td>
                  <td>{{char.gender}}</td>
                  <td>{{char.origin}}</td>
                  <td>{{char.location}}</td>
                  <td>{{char.image}}</td>
                  <td>
                      <button type="button" class="btn btn-danger" routerLink="/personajes/{{char.id}}">Edit</button>
                      <button type="button" class="btn btn-warning" (click)="deleteCharacter(char.id)">Delete</button>
                  </td>
              </tr>
          </tbody>
      </table>

  </div>
</div>
